*{
    font-family: "Anta", sans-serif;
    --pico-font-family: "Anta", sans-serif;
}
.section2{
    display: flex;
}
.dateleft{
    justify-content: flex-start;
    border-right: solid;
    width:50%;
}
.dateright{
    margin-left: 50%;
    border-left: solid;
    width: 50%;
}
i{
    color: #0f1312;
    text-align: center;
    font-size: 35px;
}
body {
    width: 99%!important;
    margin: 0.5%!important;
    padding: 0.5%;
}
progress{
    --pico-progress-color: #21E299; 
    margin: 0.5%;
}
div{
    text-align: center;
}
#section1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#21E299;
    border-radius: 10px;
}
#section2{
    background-color: #21E299;
    padding: 1%;
    border-radius: 10px;
}
.div1{
    text-align: center;
    width:100% ;
}
.contact{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #21E299;
    padding: 1%;
}
.conteneurpresentation{
    display: flex;
    justify-content: space-around;
    width: 99%;
    margin: 0.5%;
}
img{
    border-radius: 10px;
}
.info{
    display: flex;
    justify-content:space-around ;
    padding-top: 10%;
}
.dateleft p{
    text-align: right;
}
.dateright p{
    text-align: left;
}




